* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(22, 22, 22, 0.671);
    height: 90%;
    width: 50%;
    margin: auto;
    border-radius: 1rem;
}

h1 {
    margin: 2rem;
}

input {
    border-radius: 1rem;
    margin-top: 1rem;

    text-align: center;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intervalar {
    width: 15rem;
    height: 2rem;

    display: none;
}

.visivel {
    display: block;
}

.codificar {
    width: 10rem;
    height: 3rem;

    margin-top: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.entrada, .saida {
    width: 25rem;
    height: 8rem;
}

.saida {
    margin-bottom: 2rem;
}

@media (max-width: 320px) {
    .principal {
        width: 80%;
        text-align: center;
    }

    .entrada, .saida {
        width: 10rem;
    }

    h2 {
        padding: 1rem;
    }
}


@media (max-width: 425px) {
    .principal {
        width: 80%;
        text-align: center;
    }

    .entrada, .saida {
        width: 15rem;
    }

    h2 {
        padding: 1rem;
    }
}

@media (min-width: 765px) {
    .principal {
        width: 80%;
        height: 70%;
        text-align: center;
    }

    .entrada, .saida {
        width: 25rem;
    }

    h2 {
        padding: 1rem;
    }
}

@media (min-width: 1300px) {

    body {
        font-size: 0.9em;

    }
    .principal {
        width: 50%;
        height: 95vh;
        text-align: center;
       
    }

    .entrada, .saida {
        width: 25rem;
    }
}